**/node_modules
/.settings
/.project
/.vs
/.vscode
/.idea
/.vscode
/.history
/.nyc_output
/coverage
/test
/image_staging/*.jpg
/image_staging/*.png
/image_staging/*.gif
/image_staging/*.jpeg
.nyc_output
/coverage
TODO
report*.json
*.todo
.DS_Store
web/*
.dccache